# Instacart Data Exploration

__Problem Description:__
Whether you shop from meticulously planned grocery lists or let whimsy guide your grazing, our unique food rituals define who we are. Instacart, a grocery ordering and delivery app, aims to make it easy to fill your refrigerator and pantry with your personal favorites and staples when you need them. After selecting products through the Instacart app, personal shoppers review your order and do the in-store shopping and delivery for you.

Instacart’s data science team plays a big part in providing this delightful shopping experience. Currently they use transactional data to develop models that predict which products a user will buy again, try for the first time, or add to their cart next during a session. Recently, Instacart open sourced this data - see their blog post on 3 Million Instacart Orders, Open Sourced.

In this competition, Instacart is challenging the Kaggle community to use this anonymized data on customer orders over time __to predict which previously purchased products will be in a user’s next order.__ They’re not only looking for the best model, Instacart’s also looking for machine learning engineers to grow their team.

__File descriptions:__

Each entity (customer, product, order, aisle, etc.) has an associated unique id. Most of the files and variable names should be self-explanatory.

* __aisles.csv__

 aisle_id,aisle  
 1,prepared soups salads  
 2,specialty cheeses  
 3,energy granola bars  
 ...

* __departments.csv__

 department_id,department  
 1,frozen  
 2,other  
 3,bakery  
 ...

* __order\_products_*.csv__

 These files specify which products were purchased in each order. order_products_prior.csv contains previous order contents for all customers. 'reordered' indicates that the customer has a previous order that contains the product. Note that some orders will have no reordered items. You may predict an explicit 'None' value for orders with no reordered items. See the evaluation page for full details.

 order_id,product_id,add_to_cart_order,reordered  
 1,49302,1,1  
 1,11109,2,1  
 1,10246,3,0  
 ... 

* __orders.csv__

 This file tells to which set (prior, train, test) an order belongs. You are predicting reordered items only for the test set orders. 'order_dow' is the day of week.

 order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order  
 2539329,1,prior,1,2,08,  
 2398795,1,prior,2,3,07,15.0  
 473747,1,prior,3,3,12,21.0  
 ...

* __products.csv__

 product_id,product_name,aisle_id,department_id
 1,Chocolate Sandwich Cookies,61,19  
 2,All-Seasons Salt,104,13  
 3,Robust Golden Unsweetened Oolong Tea,94,7  
 ...

* __sample\_submission.csv__

 order_id,products
 17,39276  
 34,39276  
 137,39276  
 ...

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing
from sklearn.model_selection import cross_val_score

from sklearn import (
    tree,
    metrics,
    linear_model,
    ensemble,
    neighbors)

from sklearn.neighbors import KNeighborsClassifier
import re
import os
import gc

%matplotlib inline

## Initializing Data Directories and Data Filenames.

### Location of the dataset, which will be used to build the dataframes

In [2]:
ddir = 'Instacart Data'
print os.path.abspath(ddir)

/Users/NewAdmin/Documents/Anwar/DS Class/DS Final Project/Instacart Data

### List of the files to be used

In [3]:
aisles = ('aisles.csv')
depts = ('departments.csv')
ordprodprior = ('order_products__prior.csv')
ordprodtrain = ('order_products__train.csv')
orders = ('orders.csv')
products = ('products.csv')
sample_submission = ('sample_submission.csv')

## Function: buildDataFrame()

In [4]:
#-------------------------------------
# buildDataFrame()
#-------------------------------------
def buildDataFrame(sFilename = ""):
    print 'Loading ', sFilename
    df = pd.read_csv(os.path.join(ddir, sFilename))
    print 'Total Rows:', df.shape[0]
    return df

### Building individual Dataframes

In [5]:
df_aisles = buildDataFrame(aisles)
df_depts = buildDataFrame(depts)
df_ord = buildDataFrame(orders)
df_opp = buildDataFrame(ordprodprior)
df_opt = buildDataFrame(ordprodtrain)
df_prod = buildDataFrame(products)
print 'Done.'

Loading  aisles.csv
Total Rows: 134
Loading  departments.csv
Total Rows: 21
Loading  orders.csv
Total Rows: 3421083
Loading  order_products__prior.csv
Total Rows: 32434489
Loading  order_products__train.csv
Total Rows: 1384617
Loading  products.csv
Total Rows: 49688
Done.

### fixing datatypes for the dataframe

In [6]:
df_prod.aisle_id = df_prod.aisle_id.astype('category')
df_prod.department_id = df_prod.department_id.astype('category')
df_ord.eval_set = df_ord.eval_set.astype('category')

### Preparing Train and Test from orders

In [7]:
df_ord_prior = df_ord[df_ord.eval_set == 'prior']
df_ord_train = df_ord[df_ord.eval_set == 'train']
df_ord_test = df_ord[df_ord.eval_set == 'test']
df_ord_prior.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [8]:
df_ord_train.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
10,1187899,1,train,11,4,8,14.0
25,1492625,2,train,15,1,11,30.0
49,2196797,5,train,5,0,11,6.0
74,525192,7,train,21,2,11,6.0
78,880375,8,train,4,1,14,10.0

In [9]:
df_ord_test.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
38,2774568,3,test,13,5,15,11.0
44,329954,4,test,6,3,12,30.0
53,1528013,6,test,4,3,16,22.0
96,1376945,11,test,8,6,11,8.0
102,1356845,12,test,6,1,20,30.0

In [10]:
list_user_id = df_ord_train.user_id.unique().tolist()

total_user_id_prior = df_ord_prior["user_id"].nunique() 
total_user_id_exist_train_but_not_in_prior = df_ord_prior[~df_ord_prior.user_id.isin(list_user_id)]["user_id"].nunique()
print "Total User Count in Prior:{}\nTotal User exists in Train but NOT in Prior:{}\nDifference:{}".format(total_user_id_prior, 
                                                                                                           total_user_id_exist_train_but_not_in_prior, 
                                                                                                           total_user_id_prior - total_user_id_exist_train_but_not_in_prior)

print ("\n")

list_user_id = df_ord_test.user_id.unique().tolist()

total_user_id_test = df_ord_test["user_id"].nunique() 
total_user_id_exist_test_but_not_in_prior = df_ord_prior[~df_ord_prior.user_id.isin(list_user_id)]["user_id"].nunique()
print "Total User Count in Prior:{}\nTotal User exists in Test but NOT in Prior:{}\nDifference:{}".format(total_user_id_prior, 
                                                                                                           total_user_id_exist_test_but_not_in_prior, 
                                                                                                           total_user_id_prior - total_user_id_exist_test_but_not_in_prior)

Total User Count in Prior:206209
Total User exists in Train but NOT in Prior:75000
Difference:131209


Total User Count in Prior:206209
Total User exists in Test but NOT in Prior:131209
Difference:75000

### Merging orders + prior merging orders + train

In [11]:
df_opp = pd.merge(df_opp, df_ord_prior, on='order_id')
df_opt = pd.merge(df_opt, df_ord_train, on='order_id')

In [12]:

def removeUnwantedColumns(df):
    colist = df.columns.tolist()
    for col in colist:
        if col.endswith("_x") or col.endswith("_y"):
            df.drop(col, axis=1, inplace=True)

removeUnwantedColumns(df_opp)
removeUnwantedColumns(df_opt)

In [13]:
df_opp.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0

In [14]:
df_opt.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302,1,1,112108,train,4,4,10,9.0
1,1,11109,2,1,112108,train,4,4,10,9.0
2,1,10246,3,0,112108,train,4,4,10,9.0
3,1,49683,4,0,112108,train,4,4,10,9.0
4,1,43633,5,1,112108,train,4,4,10,9.0

## Calculating Product stats

In [15]:
df_prod.reset_index(inplace=True)

df_temp = df_opp.groupby('product_id').agg({'order_id':'nunique', 
                                            'reordered':'sum'}).reset_index()

df_temp['reordered_rate'] = (df_temp.reordered.astype(float)/df_temp.order_id).astype(float)

df_temp.columns = ['product_id', 
                   'p_total_orders', 
                   'p_sum_reordered', 
                   'p_reordered_rate']

df_temp.reset_index(inplace=True)

df_prod = pd.merge(df_temp,df_prod, on='product_id').reset_index()

#dropping unwanted columns
removeUnwantedColumns(df_prod)

del df_temp
df_prod.head()

,index,product_id,p_total_orders,p_sum_reordered,p_reordered_rate,product_name,aisle_id,department_id
0,0,1,1852,1136,0.613391,Chocolate Sandwich Cookies,61,19
1,1,2,90,12,0.133333,All-Seasons Salt,104,13
2,2,3,277,203,0.732852,Robust Golden Unsweetened Oolong Tea,94,7
3,3,4,329,147,0.446809,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,4,5,15,9,0.600000,Green Chile Anytime Sauce,5,13

## Calculating User Stats

In [16]:
df_temp = df_opp.groupby('user_id').agg({'days_since_prior_order':'mean', 
                                         'order_id':'nunique'}).reset_index()

df_temp.columns = ['user_id', 
                   'u_total_orders', 
                   'u_avg_days_since_prior_order']
#df_temp.head()

# calculating user stats 2
df_temp1 = df_opp.groupby('user_id').agg({'product_id':'nunique'}).reset_index()
df_temp1['all_products'] = df_opp.groupby('user_id')['product_id'].apply(set)

#print df_temp1['all_products'].isnull().sum()
#print df_temp1['all_products'].dtype

df_temp1['all_products'].fillna('', inplace=True)
df_temp1['total_distinct_items'] = df_temp1['all_products'].map(len)

df_temp1.columns = ['user_id', 
                    'u_total_products', 
                    'u_all_products', 
                    'u_total_distinct_items']


df_users = pd.merge(df_temp, df_temp1, on='user_id').reset_index()

df_users['u_avg_cart'] = (df_users.u_total_products / df_users.u_total_orders).astype(float)

removeUnwantedColumns(df_users)

df_users.set_index("user_id", inplace=True, drop=False)
df_users.drop("index", axis=1, inplace=True)

del df_temp
del df_temp1

df_users.head()

,user_id,u_total_orders,u_avg_days_since_prior_order,u_total_products,u_all_products,u_total_distinct_items,u_avg_cart
user_id,,,,,,,
1,1,10,20.259259,18,,0,1.800000
2,2,14,15.967033,102,"{17122, 196, 26405, 13032, 39657, 12427, 25133...",18,7.285714
3,3,12,11.487179,33,"{45066, 2573, 18961, 23, 32792, 22559, 13351, ...",102,2.750000
4,4,5,15.357143,17,"{17668, 39190, 44683, 21903, 14992, 21137, 324...",33,3.400000
5,5,4,14.500000,23,"{26576, 21573, 17769, 25623, 35469, 37646, 366...",17,5.750000

### Estabilishing new key that denotes user_id+product_id

In [17]:
upSeed = 100000 # seed for number of product_id digits to reverse calculate.

# upSeed Test Code
#ll = [[33120,202279, 415570208], [28985,202279, 415566073], [9327,202279, 415546415], [45918,202279, 415583006], [30035,202279, 415567123]]
#for l in ll: print (l[0] + l[1] * 100000)


df_opp['user_product_id'] = (df_opp.product_id + df_opp.user_id * upSeed)
df_opt['user_product_id'] = (df_opt.product_id + df_opt.user_id * upSeed)
df_opp.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,user_product_id
0,2,33120,1,1,202279,prior,3,5,9,8.0,20227933120
1,2,28985,2,1,202279,prior,3,5,9,8.0,20227928985
2,2,9327,3,0,202279,prior,3,5,9,8.0,20227909327
3,2,45918,4,1,202279,prior,3,5,9,8.0,20227945918
4,2,30035,5,0,202279,prior,3,5,9,8.0,20227930035

In [18]:
df_opt.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,user_product_id
0,1,49302,1,1,112108,train,4,4,10,9.0,11210849302
1,1,11109,2,1,112108,train,4,4,10,9.0,11210811109
2,1,10246,3,0,112108,train,4,4,10,9.0,11210810246
3,1,49683,4,0,112108,train,4,4,10,9.0,11210849683
4,1,43633,5,1,112108,train,4,4,10,9.0,11210843633

In [19]:
df_temp_grped = df_opp.groupby('user_product_id')
df_temp = pd.DataFrame()
df_temp['up_max_order_id'] = df_temp_grped.order_id.max() 
df_temp['up_max_order_number'] = df_temp_grped.order_number.max() 
df_temp['up_total_orders'] = df_temp_grped.order_id.nunique()
df_temp['up_max_add_to_cart_order'] = df_temp_grped.add_to_cart_order.sum()

df_temp.reset_index(inplace=True)
df_user_product = df_temp
del df_temp

df_user_product['product_id'] = (df_user_product['user_product_id'] % upSeed).astype(int)
df_user_product['user_id'] = (df_user_product['user_product_id'] / upSeed).astype(int)

df_user_product.head()

,user_product_id,up_max_order_id,up_max_order_number,up_total_orders,up_max_add_to_cart_order,product_id,user_id
0,100196,3367565,10,10,14,196,1
1,110258,3367565,10,9,30,10258,1
2,110326,431534,5,1,5,10326,1
3,112427,3367565,10,10,33,12427,1
4,113032,2550362,10,3,19,13032,1

#### Validation

In [20]:
df_user_product[df_user_product.user_product_id == 14126415872]

,user_product_id,up_max_order_id,up_max_order_number,up_total_orders,up_max_add_to_cart_order,product_id,user_id
9128446,14126415872,2141752,20,5,63,15872,141264

In [21]:
max(df_opp[ (df_opp.user_id == 141264) & (df_opp.product_id == 15872)]['order_id'] )

2141752

In [22]:
max(df_opp[ df_opp.user_id == 141264]['order_number'])

20

In [23]:
df_opt.shape[0]

In [59]:
df_opt.set_index(['order_id', 'product_id'], inplace=True, drop=False)

In [60]:
df_opt.head()

                     order_id  product_id  add_to_cart_order  reordered  \
order_id product_id
1        49302              1       49302                  1          1
         11109              1       11109                  2          1
         10246              1       10246                  3          0
         49683              1       49683                  4          0
         43633              1       43633                  5          1

                     user_id eval_set  order_number  order_dow  \
order_id product_id
1        49302        112108    train             4          4
         11109        112108    train             4          4
         10246        112108    train             4          4
         49683        112108    train             4          4
         43633        112108    train             4          4

                     order_hour_of_day  days_since_prior_order  \
order_id product_id
1        49302                      10                     9.0
         11109                      10                     9.0
         10246                      10                     9.0
         49683                      10                     9.0
         43633                      10                     9.0

                     user_product_id
order_id product_id
1        49302           11210849302
         11109           11210811109
         10246           11210810246
         49683           11210849683
         43633           11210843633

In [92]:
df_ord_train.columns.tolist()

['order_id',
 'user_id',
 'eval_set',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

## Build Features

In [94]:
###--------------------------------
### THIS FUNCTION RUNS FOREVER
###--------------------------------

def buildFeatures(df, buildTarget=False, useFullDataset=False):
    i = 0
    v_list_of_products = []
    v_list_of_orders = []
    v_list_of_users = []
    v_list_of_targets = []
    
    print "Total Rows to be processed:{}".format(df.shape[0])
    
    for dfrow in df.itertuples():
        if i%10000 == 0: 
            print "Processed:",i
            
        v_order_id = dfrow.order_id
        v_user_id = dfrow.user_id
        #print("({}-{})".format(v_order_id, v_user_id)),
        
        try:

            #print i, v_order_id, v_user_id
            v_all_products_user_bought = df_users.u_all_products[v_user_id]
            #print v_all_products_user_bought

            #expanding the prodcuts from the set we built in the users df.
            v_list_of_products += v_all_products_user_bought
            v_list_of_orders += [v_order_id] * len(v_all_products_user_bought) # to make it as same size as v_list_of_products
            v_list_of_users += [v_user_id] * len(v_all_products_user_bought)
            
            if buildTarget:
                #for product in v_all_products_user_bought:
                v_list_of_targets += [(v_order_id, product) in df_opt.index for product in v_all_products_user_bought]
                

            if not useFullDataset:
                if i > 10000: break
            i += 1
            
        except KeyError as e:
            #print "ValueError({0}): {1}".format(e. , e.strerror)
            print "OrderID: {} UserID: {}".format(v_order_id, v_user_id)
            continue
     
    #build the master features dataframe
    df_master = pd.DataFrame({"order_id":v_list_of_orders, "product_id":v_list_of_products, "user_id":v_list_of_users})
    
    if buildTarget:
        df_master['target'] = v_list_of_targets
    
    df_master = pd.DataFrame.merge(df_master, df_prod, on=['product_id'])
    df_master = pd.DataFrame.merge(df_master, df_users, on='user_id')
    df_master = pd.DataFrame.merge(df_master, df_user_product, on=['user_id','product_id'])
    
    
    return df_master

In [95]:
df_features = buildFeatures(df_ord_train, buildTarget=True, useFullDataset=True)
df_features = pd.merge(df_features, df_ord_train, on=['order_id', 'user_id'])

removeUnwantedColumns(df_features)

Total Rows to be processed:131209
Processed: 0
Processed: 10000

In [96]:
print "Total Rows (Orders Train):", df_features.shape[0]

df_features[df_features.target == True]

20292
['order_id', 'product_id', 'user_id', 'target', 'index', 'p_total_orders', 'p_sum_reordered', 'p_reordered_rate', 'product_name', 'aisle_id', 'department_id', 'u_total_orders', 'u_avg_days_since_prior_order', 'u_total_products', 'u_all_products', 'u_total_distinct_items', 'u_avg_cart', 'user_product_id', 'up_max_order_id', 'up_max_order_number', 'up_total_orders', 'up_max_add_to_cart_order', 'eval_set', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
<bound method DataFrame.info of        order_id  product_id  user_id  target  index  p_total_orders  \
0       1492625       13176        2   False  13172          379450
1       1492625       41787        2    True  41779           35413
2       1162736       17122      261   False  17118           13880
3       3174585       24852      328   False  24848          472565
4       3174585       33401      328   False  33395           13450
5        451330       25146      558   False  25142           24918
6        451330       46802      558   False  46791           24950
7        451330       42342      558   False  42334           17332
8        261370       13176      703   False  13172          379450
9       2871469       25466      770   False  25461           13494
10      2354554       21137      779   False  21133          264683
11      2354554       24852      779    True  24848          472565
12      2354554       16797      779   False  16793          142951
13      2354554        9076      779   False   9072           55946
14      1604634       21137      883   False  21133          264683
15      2073686       24852      973    True  24848          472565
16      2073686       16797      973   False  16793          142951
17       599773       13176     1143    True  13172          379450
18       599773       21903     1143    True  21899          241921
19      1843281       17122     1180   False  17118           13880
20      1115143       26209     1531   False  26204          140627
21      1115143       22935     1531   False  22931          113426
22      1115143       47766     1531   False  47755          176815
23      1115143       43713     1531   False  43705           18040
24      1115143       42701     1531   False  42693           26691
25      2721390       49235     1681    True  49224           76360
26      2721390       41787     1681   False  41779           35413
27      2721390       42265     1681   False  42257           76896
28      1773032       21903     1709   False  21899          241921
29      1959430       21616     1791   False  21612           72829
...         ...         ...      ...     ...    ...             ...
20262   1118929       45840    10682   False  45831            5351
20263    592557       21019      866   False  21015           17038
20264   2388026       30169     7869   False  30163           16636
20265   2388026       39475     7869    True  39467           26443
20266   2561906        7862     1513    True   7858            3960
20267   1762777       25890     6515   False  25885           50281
20268   2294073       33000      379   False  32994           33908
20269   3002092       21195     1850   False  21191           13216
20270   1188372       33000     5228   False  32994           33908
20271   1831636       20345    10248   False  20341           10386
20272   1309616        2314    12190   False   2313           10434
20273    409421       43638    10681    True  43630             659
20274   3073757       18557    10776   False  18553            1793
20275   3073757       18564    10776   False  18560            6168
20276    443227       21288     1052   False  21284           22864
20277   2171984       19488    15254   False  19484            6592
20278    839208       39408     8228   False  39400           24086
20279   3188385         890     1574   False    889           21997
20280   3291225       40199    14222   False  40191           14148
20281   1983082        7987     9408   False   7983            2242
20282   1983082       31759     9408    True  31753            7452
20283   2109825       13535     1069   False  13531           14678
20284   1476764       12341     1150   False  12337           50221
20285    940480       11365     9150   False  11361            4337
20286   2609281       46802    13537   False  46791           24950
20287   3232710       40174    10888   False  40166           16356
20288    648020       32557     2033   False  32551            1304
20289    648020       19671     2033   False  19667             277
20290    706607       23288     9338   False  23284           15871
20291   3081810       19660      355   False  19656           56087

       p_sum_reordered  p_reordered_rate  \
0               315913          0.832555
1                23015          0.649903
2                 9377          0.675576
3               398609          0.843501
4                 7390          0.549442
5                15803          0.634200
6                14300          0.573146
7                10343          0.596757
8               315913          0.832555
9                 9759          0.723210
10              205845          0.777704
11              398609          0.843501
12               99802          0.698155
13               32592          0.582562
14              205845          0.777704
15              398609          0.843501
16               99802          0.698155
17              315913          0.832555
18              186884          0.772500
19                9377          0.675576
20               95768          0.681007
21               79072          0.697124
22              134044          0.758103
23               10245          0.567905
24               14851          0.556405
25               59672          0.781456
26               23015          0.649903
27               50472          0.656367
28              186884          0.772500
29               49798          0.683766
...                ...               ...
20262             3685          0.688656
20263             9378          0.550417
20264            11539          0.693616
20265            18679          0.706387
20266             2157          0.544697
20267            33286          0.662000
20268            22282          0.657131
20269             6506          0.492282
20270            22282          0.657131
20271             6633          0.638648
20272             4024          0.385662
20273              251          0.380880
20274              404          0.225321
20275             4104          0.665370
20276            14325          0.626531
20277             3036          0.460558
20278            15040          0.624429
20279            10468          0.475883
20280             8521          0.602276
20281             1205          0.537467
20282             4878          0.654589
20283             7231          0.492642
20284            37365          0.744011
20285             2765          0.637537
20286            14300          0.573146
20287            12444          0.760822
20288              484          0.371166
20289              120          0.433213
20290            11473          0.722891
20291            45558          0.812274

                                        product_name aisle_id  \
0                             Bag of Organic Bananas       24
1                                     Bartlett Pears       24
2                                  Honeycrisp Apples       24
3                                             Banana       24
4                               Goat Cheese Crumbles       21
5                              Original Orange Juice       31
6                                   Pineapple Chunks      116
7                              Roasted Turkey Breast       96
8                             Bag of Organic Bananas       24
9                                              Water      115
10                              Organic Strawberries       24
11                                            Banana       24
12                                      Strawberries       24
13                                       Blueberries      116
14                              Organic Strawberries       24
15                                            Banana       24
16                                      Strawberries       24
17                            Bag of Organic Bananas       24
18                              Organic Baby Spinach      123
19                                 Honeycrisp Apples       24
20                                             Limes       24
21                              Organic Yellow Onion       83
22                                   Organic Avocado       24
23                      Organic Creamy Peanut Butter       88
24                                Organic Sour Cream      108
25                               Organic Half & Half       53
26                                    Bartlett Pears       24
27                              Organic Baby Carrots      123
28                              Organic Baby Spinach      123
29                              Organic Baby Arugula      123
...                                              ...      ...
20262                          100% Pure Apple Juice       98
20263                      Roasted Red Pepper Hummus       67
20264        Total 2% All Natural Plain Greek Yogurt      120
20265                    Total Greek Strained Yogurt      120
20266                                     Raw Shrimp       34
20267              Boneless Skinless Chicken Breasts       49
20268                              Pure Irish Butter       36
20269                 Organic Extra Virgin Olive Oil       19
20270                              Pure Irish Butter       36
20271                     Thin Crust Pepperoni Pizza       79
20272                      Whole Milk Ricotta Cheese      108
20273  Butter Flavor Movie Theater Microwave Popcorn       23
20274                         Original Bar BBQ Sauce        5
20275               Diet Ginger Ale All Natural Soda       77
20276                                   Blackberries       24
20277               Select-A-Size White Paper Towels       54
20278                                    Gala Apples       24
20279                         Organic Diced Tomatoes       81
20280                         Chocolate Chip Cookies       61
20281                     Hazelnut Spread with Cocoa       88
20282                             Cherrios Honey Nut      121
20283                           Organic Medium Salsa       51
20284                                  Hass Avocados       32
20285                                   Leaf Spinach       32
20286                               Pineapple Chunks      116
20287                    2% Reduced Fat Organic Milk       84
20288                       Plant Based Scrub Sponge      114
20289          Organic & Natural Cotton Panty Liners      126
20290                                Distilled Water      115
20291                                   Spring Water      115

                ...           user_product_id  up_max_order_id  \
0               ...                    213176          2168274
1               ...                    241787          3194192
2               ...                  26117122          2116059
3               ...                  32824852          2272583
4               ...                  32833401           451857
5               ...                  55825146          1450877
6               ...                  55846802          1532626
7               ...                  55842342           970433
8               ...                  70313176          2713750
9               ...                  77025466          3353185
10              ...                  77921137           384922
11              ...                  77924852          2924540
12              ...                  77916797          1101292
13              ...                  77909076          2924540
14              ...                  88321137          2466906
15              ...                  97324852          2635064
16              ...                  97316797           108268
17              ...                 114313176          3026885
18              ...                 114321903          3026885
19              ...                 118017122          2416067
20              ...                 153126209          1750739
21              ...                 153122935           730676
22              ...                 153147766          1750739
23              ...                 153143713          2898619
24              ...                 153142701           730676
25              ...                 168149235          3281805
26              ...                 168141787          3281805
27              ...                 168142265          2695749
28              ...                 170921903          2951285
29              ...                 179121616          2919307
...             ...                       ...              ...
20262           ...                1068245840          2053281
20263           ...                  86621019          2509771
20264           ...                 786930169          2706911
20265           ...                 786939475          1752608
20266           ...                 151307862          3011105
20267           ...                 651525890          2989082
20268           ...                  37933000          3210593
20269           ...                 185021195          2740882
20270           ...                 522833000          3351908
20271           ...                1024820345          2737101
20272           ...                1219002314          3238119
20273           ...                1068143638          2956882
20274           ...                1077618557           450260
20275           ...                1077618564          1901961
20276           ...                 105221288          1362118
20277           ...                1525419488          3143727
20278           ...                 822839408          2583286
20279           ...                 157400890          1499149
20280           ...                1422240199          1599734
20281           ...                 940807987          1009023
20282           ...                 940831759          1009023
20283           ...                 106913535          1872786
20284           ...                 115012341           272717
20285           ...                 915011365            92722
20286           ...                1353746802          3262305
20287           ...                1088840174          2160006
20288           ...                 203332557          1755961
20289           ...                 203319671          2352295
20290           ...                 933823288          1407792
20291           ...                  35519660          2114575

       up_max_order_number  up_total_orders up_max_add_to_cart_order  \
0                        1                1                       12
1                        7                2                       32
2                        7                1                        8
3                        9                3                        4
4                        7                1                       10
5                       26                4                       56
6                       18                1                        3
7                       21                2                       13
8                        9                1                       24
9                        4                1                       11
10                       2                1                       12
11                       5                1                        9
12                       3                1                       10
13                       5                1                       12
14                       3                2                        2
15                      25                5                       51
16                      15                1                       23
17                       3                2                       10
18                       3                2                        3
19                       7                2                       20
20                      42                1                       13
21                      40                1                        3
22                      42                4                       25
23                      17                3                       40
24                      40                1                        9
25                       7                3                       29
26                       4                3                       31
27                       6                2                       34
28                       4                3                        5
29                      12                1                        6
...                    ...              ...                      ...
20262                    2                1                        1
20263                   12                4                       43
20264                    1                1                       13
20265                    5                3                       43
20266                   13                6                       13
20267                   27                3                       11
20268                   17                6                       45
20269                   36                4                       58
20270                   49                8                      149
20271                   10                6                       25
20272                   19                3                       48
20273                    5                1                       16
20274                    7                1                       14
20275                   10                1                        7
20276                    4                1                        3
20277                    1                1                        8
20278                   21                1                        4
20279                    5                1                        5
20280                    1                1                       14
20281                    3                1                        9
20282                    3                1                        8
20283                    6                1                       16
20284                   33                1                       11
20285                    9                1                        2
20286                   41                8                       87
20287                   31                4                       19
20288                   11                1                        8
20289                   22                2                       18
20290                   12                1                        4
20291                    4                1                       15

       eval_set  order_number  order_dow  order_hour_of_day  \
0         train            15          1                 11
1         train            15          1                 11
2         train             9          3                 17
3         train            13          2                 11
4         train            13          2                 11
5         train            28          5                 12
6         train            28          5                 12
7         train            28          5                 12
8         train            10          1                 12
9         train             5          1                 16

,order_id,product_id,user_id,target,index,p_total_orders,p_sum_reordered,p_reordered_rate,product_name,aisle_id,...,user_product_id,up_max_order_id,up_max_order_number,up_total_orders,up_max_add_to_cart_order,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1,1492625,41787,2,True,41779,35413,23015,0.649903,Bartlett Pears,24,...,241787,3194192,7,2,32,train,15,1,11,30.0
11,2354554,24852,779,True,24848,472565,398609,0.843501,Banana,24,...,77924852,2924540,5,1,9,train,7,0,8,19.0
15,2073686,24852,973,True,24848,472565,398609,0.843501,Banana,24,...,97324852,2635064,25,5,51,train,26,0,11,8.0
17,599773,13176,1143,True,13172,379450,315913,0.832555,Bag of Organic Bananas,24,...,114313176,3026885,3,2,10,train,4,6,18,14.0
18,599773,21903,1143,True,21899,241921,186884,0.772500,Organic Baby Spinach,123,...,114321903,3026885,3,2,3,train,4,6,18,14.0
25,2721390,49235,1681,True,49224,76360,59672,0.781456,Organic Half & Half,53,...,168149235,3281805,7,3,29,train,9,2,9,5.0
30,1979738,43352,1884,True,43344,57640,39507,0.685409,Raspberries,32,...,188443352,2893230,17,6,27,train,22,1,17,9.0
31,3001884,13176,2143,True,13172,379450,315913,0.832555,Bag of Organic Bananas,24,...,214313176,2904817,16,4,26,train,20,0,16,12.0
33,1074427,19348,2477,True,19344,29345,22559,0.768751,Fat Free Milk,84,...,247719348,1855819,3,1,9,train,6,4,9,30.0
38,2606288,48205,2872,True,48194,16829,9176,0.545249,Spinach,123,...,287248205,886889,1,1,17,train,6,3,13,30.0
40,1751051,21137,3119,True,21133,264683,205845,0.777704,Organic Strawberries,24,...,311921137,2968009,16,8,34,train,19,3,8,7.0
48,2899823,21137,3317,True,21133,264683,205845,0.777704,Organic Strawberries,24,...,331721137,1807394,2,2,26,train,5,1,15,9.0
55,1448523,16797,3582,True,16793,142951,99802,0.698155,Strawberries,24,...,358216797,2479664,14,3,7,train,19,0,14,16.0
56,1448523,9358,3582,True,9354,2210,1273,0.576018,April Fresh Liquid Fabric Softener,75,...,358209358,2121011,7,1,3,train,19,0,14,16.0
61,621035,10749,3674,True,10745,57485,37968,0.660485,Organic Red Bell Pepper,83,...,367410749,2965113,4,2,23,train,5,2,6,30.0
62,2940392,13176,4061,True,13172,379450,315913,0.832555,Bag of Organic Bananas,24,...,406113176,2978055,4,2,12,train,5,5,9,30.0
67,310611,24852,4330,True,24848,472565,398609,0.843501,Banana,24,...,433024852,3311131,5,3,19,train,6,0,19,30.0
70,355069,21903,4344,True,21899,241921,186884,0.772500,Organic Baby Spinach,123,...,434421903,3343507,34,14,115,train,35,0,9,9.0
73,1342033,16797,4610,True,16793,142951,99802,0.698155,Strawberries,24,...,461016797,2515055,51,5,23,train,52,5,4,8.0
75,3040271,39275,4724,True,39267,100060,62922,0.628843,Organic Blueberries,123,...,472439275,3357790,81,23,270,train,90,6,17,3.0
88,2107432,2716,4916,True,2715,6311,4145,0.656790,Organic Greek Lowfat Yogurt With Strawberries,120,...,491602716,3409030,15,8,43,train,17,0,7,7.0
91,1213213,22819,5152,True,22815,1817,842,0.463401,Organic Medium Chili,59,...,515222819,436793,20,2,28,train,22,5,12,8.0
95,1111201,24852,5287,True,24848,472565,398609,0.843501,Banana,24,...,528724852,3242923,69,21,76,train,74,3,15,2.0
114,874527,13176,5706,True,13172,379450,315913,0.832555,Bag of Organic Bananas,24,...,570613176,3077930,19,3,14,train,20,0,15,14.0
124,293233,24852,5930,True,24848,472565,398609,0.843501,Banana,24,...,593024852,2752887,6,1,3,train,7,4,12,22.0
125,3316190,11520,6100,True,11516,40376,31321,0.775733,Large Alfresco Eggs,86,...,610011520,3010723,6,1,4,train,9,6,13,26.0
131,351516,24852,6367,True,24848,472565,398609,0.843501,Banana,24,...,636724852,3134680,19,9,32,train,20,2,19,23.0
134,3128931,24852,6588,True,24848,472565,398609,0.843501,Banana,24,...,658824852,1653462,4,1,13,train,17,4,10,27.0
153,1641331,45066,7719,True,45057,79769,57818,0.724818,Honeycrisp Apple,24,...,771945066,3075624,10,3,26,train,14,5,22,30.0
158,1641331,49683,7719,True,49671,97315,67313,0.691702,Cucumber Kirby,83,...,771949683,3075624,11,8,45,train,14,5,22,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20125,1233783,24852,6881,True,24848,472565,398609,0.843501,Banana,24,...,688124852,3347659,7,6,6,train,8,4,17,5.0
20127,2789743,16797,8317,True,16793,142951,99802,0.698155,Strawberries,24,...,831716797,3129784,2,2,5,train,5,2,15,24.0
20138,1628567,4605,2041,True,4602,73167,43269,0.591373,Yellow Onions,83,...,204104605,823094,27,1,6,train,31,0,14,21.0
20143,2816973,47626,13022,True,47615,152657,106255,0.696038,Large Lemon,24,...,1302247626,3028561,10,2,15,train,11,0,11,21.0
20153,958796,24852,1305,True,24848,472565,398609,0.843501,Banana,24,...,130524852,2842496,5,2,7,train,6,6,15,5.0
20156,223255,24852,2319,True,24848,472565,398609,0.843501,Banana,24,...,231924852,975465,3,1,7,train,4,1,12,20.0
20160,3237685,47766,2948,True,47755,176815,134044,0.758103,Organic Avocado,24,...,294847766,3010725,5,5,6,train,7,1,13,2.0
20166,3302596,24852,5471,True,24848,472565,398609,0.843501,Banana,24,...,547124852,2638072,13,7,17,train,17,6,13,7.0
20167,862145,24852,5623,True,24848,472565,398609,0.843501,Banana,24,...,562324852,280857,1,1,8,train,4,4,20,20.0
20169,162358,24852,5631,True,24848,472565,398609,0.843501,Banana,24,...,563124852,3202517,9,9,23,train,10,4,10,12.0
20171,245956,24852,5684,True,24848,472565,398609,0.843501,Banana,24,...,568424852,3219476,49,11,79,train,50,1,17,5.0
20172,2879860,24852,8230,True,24848,472565,398609,0.843501,Banana,24,...,823024852,3302046,8,5,19,train,9,5,10,14.0
20178,2994375,5450,10251,True,5447,49021,32924,0.671631,Small Hass Avocado,24,...,1025105450,3375728,11,3,6,train,14,1,11,5.0
20181,3321236,24852,10928,True,24848,472565,398609,0.843501,Banana,24,...,1092824852,3217199,6,5,27,train,7,1,16,30.0
20186,1276663,24852,11808,True,24848,472565,398609,0.843501,Banana,24,...,1180824852,3408655,55,29,185,train,56,0,15,7.0
20192,1004231,24852,12037,True,24848,472565,398609,0.843501,Banana,24,...,1203724852,1729049,6,4,20,train,7,1,19,2.0
20202,1707938,24852,14770,True,24848,472565,398609,0.843501,Banana,24,...,1477024852,3414782,21,21,68,train,22,0,11,28.0
20203,3385733,24852,15379,True,24848,472565,398609,0.843501,Banana,24,...,1537924852,2391526,4,4,57,train,6,0,11,30.0
20210,102139,19348,10883,True,19344,29345,22559,0.768751,Fat Free Milk,84,...,1088319348,2786308,7,2,9,train,8,5,15,0.0
20213,1091539,16797,2338,True,16793,142951,99802,0.698155,Strawberries,24,...,233816797,1935615,5,2,13,train,8,6,11,30.0
20220,1514806,21292,13372,True,21288,11451,7824,0.683259,Rainbow Bell Peppers,32,...,1337221292,2862158,3,1,2,train,4,6,16,0.0
20238,2616253,19660,5657,True,19656,56087,45558,0.812274,Spring Water,115,...,565719660,870981,1,1,9,train,5,6,14,21.0
20246,1229133,28601,545,True,28595,10455,6044,0.578097,Collard Greens,83,...,54528601,2615616,2,1,6,train,5,4,18,5.0
20248,2709723,35986,3912,True,35980,3792,2372,0.625527,2-Ply 100% Recycled Bathroom Tissue,54,...,391235986,3295564,6,4,14,train,7,3,18,20.0
20251,160363,34993,10873,True,34987,4032,2406,0.596726,Mango Yoghurt,120,...,1087334993,3235829,24,9,75,train,31,4,11,7.0
20253,1056930,40910,11526,True,40902,7642,4410,0.577074,Root Beer,77,...,1152640910,926722,3,1,5,train,5,5,8,4.0
20265,2388026,39475,7869,True,39467,26443,18679,0.706387,Total Greek Strained Yogurt,120,...,786939475,1752608,5,3,43,train,6,6,19,13.0
20266,2561906,7862,1513,True,7858,3960,2157,0.544697,Raw Shrimp,34,...,151307862,3011105,13,6,13,train,14,6,15,30.0
20273,409421,43638,10681,True,43630,659,251,0.380880,Butter Flavor Movie Theater Microwave Popcorn,23,...,1068143638,2956882,5,1,16,train,6,0,19,30.0
20282,1983082,31759,9408,True,31753,7452,4878,0.654589,Cherrios Honey Nut,121,...,940831759,1009023,3,1,8,train,5,1,16,30.0

## Functions: Model

In [ ]:
def printCrossValidation (cls, X,y, model_name):
    roc_auc = cross_val_score(cls, X, y, scoring='roc_auc', cv=5).mean()
    print '\n',model_name,':'
    print ' Score:', cls.score(X, y)
    print ' ROC AUC:', roc_auc
    print ' Accuracy:', cross_val_score(cls, X, y, scoring='accuracy', cv=5).mean()
    print ' Recall:', cross_val_score(cls, X, y, scoring='recall', cv=5).mean()
    return roc_auc
    

def fitRandomForest(X, y):
    cls = ensemble.RandomForestClassifier(n_estimators=500,
                             criterion='gini',
                            max_features='auto',
                            max_depth = 8,
                            min_samples_split = 2,
                            min_samples_leaf = 20,
                            bootstrap = True) 
    cls.fit(X, y)
    
    cols =  X.columns
    feature_importances = cls.feature_importances_
    features_df = pd.DataFrame({'features': features, 'importance': feature_importances})
    features_df.sort_values('importance', inplace=True, ascending=False)
    
    printCrossValidation (cls, X,y, "Random Forest")
    print ' Feature importance: ',features_df.head(25)
    return cls

def fitGradiantBoostingClassifier(X, y):
    cls = ensemble.GradientBoostingClassifier(loss='deviance', 
                                              learning_rate=0.1, 
                                              n_estimators=500, 
                                              subsample=1.0, 
                                              criterion='friedman_mse', 
                                              min_samples_split=2, 
                                              min_samples_leaf=20, 
                                              min_weight_fraction_leaf=0.0, 
                                              max_depth=8, 
                                              min_impurity_decrease=0.0, 
                                              min_impurity_split=None, 
                                              init=None, 
                                              random_state=None, 
                                              max_features=None, 
                                              verbose=0, 
                                              max_leaf_nodes=None, 
                                              warm_start=False, 
                                              presort='auto') 
    cls.fit(X, y)
    
    cols =  X.columns
    feature_importances = cls.feature_importances_
    features_df = pd.DataFrame({'features': features, 'importance': feature_importances})
    features_df.sort_values('importance', inplace=True, ascending=False)
    
    printCrossValidation (cls, X,y, "Grandiant Boosting")
    print ' Feature importance: ',features_df.head(25)
    return cls

In [97]:
features = ['p_total_orders'
            , 'p_sum_reordered'
            , 'p_reordered_rate'
            , 'aisle_id'
            , 'department_id'
            , 'u_total_orders'
            , 'u_avg_days_since_prior_order'
            , 'u_total_products'
            , 'u_total_distinct_items'
            , 'u_avg_cart'
            , 'up_max_order_id'
            , 'up_max_order_number'
            , 'up_total_orders'
            , 'up_max_add_to_cart_order'
            , 'order_number'
            , 'order_dow'
            , 'order_hour_of_day'
            , 'days_since_prior_order']

target = 'target'

X = df_features[features]
y = df_features[target]
df_features[features]

,p_total_orders,p_sum_reordered,p_reordered_rate,aisle_id,department_id,u_total_orders,u_avg_days_since_prior_order,u_total_products,u_total_distinct_items,u_avg_cart,up_max_order_id,up_max_order_number,up_total_orders,up_max_add_to_cart_order,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,379450,315913,0.832555,24,4,14,15.967033,102,18,7.285714,2168274,1,1,12,15,1,11,30.0
1,35413,23015,0.649903,24,4,14,15.967033,102,18,7.285714,3194192,7,2,32,15,1,11,30.0
2,13880,9377,0.675576,24,4,8,3.647059,49,31,6.125000,2116059,7,1,8,9,3,17,4.0
3,472565,398609,0.843501,24,4,12,15.666667,63,243,5.250000,2272583,9,3,4,13,2,11,27.0
4,13450,7390,0.549442,21,16,12,15.666667,63,243,5.250000,451857,7,1,10,13,2,11,27.0
5,24918,15803,0.634200,31,7,27,8.105960,167,48,6.185185,1450877,26,4,56,28,5,12,1.0
6,24950,14300,0.573146,116,1,27,8.105960,167,48,6.185185,1532626,18,1,3,28,5,12,1.0
7,17332,10343,0.596757,96,20,27,8.105960,167,48,6.185185,970433,21,2,13,28,5,12,1.0
8,379450,315913,0.832555,24,4,9,7.107143,65,23,7.222222,2713750,9,1,24,10,1,12,7.0
9,13494,9759,0.723210,115,7,4,27.812500,42,51,10.500000,3353185,4,1,11,5,1,16,7.0
10,264683,205845,0.777704,24,4,6,27.683168,85,164,14.166667,384922,2,1,12,7,0,8,19.0
11,472565,398609,0.843501,24,4,6,27.683168,85,164,14.166667,2924540,5,1,9,7,0,8,19.0
12,142951,99802,0.698155,24,4,6,27.683168,85,164,14.166667,1101292,3,1,10,7,0,8,19.0
13,55946,32592,0.582562,116,1,6,27.683168,85,164,14.166667,2924540,5,1,12,7,0,8,19.0
14,264683,205845,0.777704,24,4,12,18.836735,32,23,2.666667,2466906,3,2,2,13,2,14,9.0
15,472565,398609,0.843501,24,4,25,13.015267,162,90,6.480000,2635064,25,5,51,26,0,11,8.0
16,142951,99802,0.698155,24,4,25,13.015267,162,90,6.480000,108268,15,1,23,26,0,11,8.0
17,379450,315913,0.832555,24,4,3,30.000000,17,35,5.666667,3026885,3,2,10,4,6,18,14.0
18,241921,186884,0.772500,123,4,3,30.000000,17,35,5.666667,3026885,3,2,3,4,6,18,14.0
19,13880,9377,0.675576,24,4,11,21.717391,126,33,11.454545,2416067,7,2,20,12,0,11,30.0
20,140627,95768,0.681007,24,4,48,7.050209,122,61,2.541667,1750739,42,1,13,49,3,16,3.0
21,113426,79072,0.697124,83,4,48,7.050209,122,61,2.541667,730676,40,1,3,49,3,16,3.0
22,176815,134044,0.758103,24,4,48,7.050209,122,61,2.541667,1750739,42,4,25,49,3,16,3.0
23,18040,10245,0.567905,88,13,48,7.050209,122,61,2.541667,2898619,17,3,40,49,3,16,3.0
24,26691,14851,0.556405,108,16,48,7.050209,122,61,2.541667,730676,40,1,9,49,3,16,3.0
25,76360,59672,0.781456,53,16,8,12.467290,61,49,7.625000,3281805,7,3,29,9,2,9,5.0
26,35413,23015,0.649903,24,4,8,12.467290,61,49,7.625000,3281805,4,3,31,9,2,9,5.0
27,76896,50472,0.656367,123,4,8,12.467290,61,49,7.625000,2695749,6,2,34,9,2,9,5.0
28,241921,186884,0.772500,123,4,4,16.636364,11,27,2.750000,2951285,4,3,5,5,0,13,30.0
29,72829,49798,0.683766,123,4,14,15.574468,70,55,5.000000,2919307,12,1,6,15,0,18,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20262,5351,3685,0.688656,98,7,12,18.782609,26,42,2.166667,2053281,2,1,1,13,2,12,8.0
20263,17038,9378,0.550417,67,20,22,16.481250,167,13,7.590909,2509771,12,4,43,23,0,16,15.0
20264,16636,11539,0.693616,120,16,5,6.513761,67,29,13.400000,2706911,1,1,13,6,6,19,13.0
20265,26443,18679,0.706387,120,16,5,6.513761,67,29,13.400000,1752608,5,3,43,6,6,19,13.0
20266,3960,2157,0.544697,34,1,13,20.604167,28,11,2.153846,3011105,13,6,13,14,6,15,30.0
20267,50281,33286,0.662000,49,12,30,9.578125,179,12,5.966667,2989082,27,3,11,31,0,15,6.0
20268,33908,22282,0.657131,36,16,19,10.219895,121,8,6.368421,3210593,17,6,45,20,2,16,30.0
20269,13216,6506,0.492282,19,13,60,6.231016,156,5,2.600000,2740882,36,4,58,61,3,9,3.0
20270,33908,22282,0.657131,36,16,54,7.602161,295,10,5.462963,3351908,49,8,149,55,1,9,1.0
20271,10386,6633,0.638648,79,1,12,4.893333,57,12,4.750000,2737101,10,6,25,13,5,16,3.0
20272,10434,4024,0.385662,108,16,52,7.353687,216,10,4.153846,3238119,19,3,48,53,0,11,5.0
20273,659,251,0.380880,23,19,5,28.938776,42,37,8.400000,2956882,5,1,16,6,0,19,30.0
20274,1793,404,0.225321,5,13,35,8.454795,118,43,3.371429,450260,7,1,14,36,6,10,30.0
20275,6168,4104,0.665370,77,7,35,8.454795,118,43,3.371429,1901961,10,1,7,36,6,10,30.0
20276,22864,14325,0.626531,24,4,20,10.914894,24,11,1.200000,1362118,4,1,3,21,1,18,8.0
20277,6592,3036,0.460558,54,17,3,29.105263,44,13,14.666667,3143727,1,1,8,4,3,11,30.0
20278,24086,15040,0.624429,24,4,26,12.753709,144,8,5.538462,2583286,21,1,4,27,3,12,9.0
20279,21997,10468,0.475883,81,15,41,8.011834,84,14,2.048780,1499149,5,1,5,42,0,15,2.0
20280,14148,8521,0.602276,61,19,4,30.000000,41,3,10.250000,1599734,1,1,14,5,1,16,30.0
20281,2242,1205,0.537467,88,13,4,23.571429,21,19,5.250000,1009023,3,1,9,5,1,16,30.0
20282,7452,4878,0.654589,121,14,4,23.571429,21,19,5.250000,1009023,3,1,8,5,1,16,30.0
20283,14678,7231,0.492642,51,13,6,20.473684,44,4,7.333333,1872786,6,1,16,7,0,16,30.0
20284,50221,37365,0.744011,32,4,47,4.324742,128,6,2.723404,272717,33,1,11,48,2,11,5.0
20285,4337,2765,0.637537,32,4,13,6.924370,63,9,4.846154,92722,9,1,2,14,4,13,8.0
20286,24950,14300,0.573146,116,1,45,6.959064,236,6,5.244444,3262305,41,8,87,46,0,21,6.0
20287,16356,12444,0.760822,84,16,66,6.066558,160,4,2.424242,2160006,31,4,19,67,1,11,4.0
20288,1304,484,0.371166,114,17,24,8.670588,110,12,4.583333,1755961,11,1,8,25,2,8,5.0
20289,277,120,0.433213,126,11,24,8.670588,110,12,4.583333,2352295,22,2,18,25,2,8,5.0
20290,15871,11473,0.722891,115,7,28,11.014388,130,3,4.642857,1407792,12,1,4,29,5,10,14.0
20291,56087,45558,0.812274,115,7,13,18.206349,75,2,5.769231,2114575,4,1,15,14,6,16,30.0

In [100]:
clsRF = fitRandomForest(X,y)

Random Forest :
 Score: 0.857677902622
 ROC AUC: 0.782852199102
 Accuracy: 0.847476747281
 Recall: 0.100052151239
 Feature importance:                          features  importance
12               up_total_orders    0.239729
13      up_max_add_to_cart_order    0.099077
2               p_reordered_rate    0.087991
5                 u_total_orders    0.077319
14                  order_number    0.073636
1                p_sum_reordered    0.065028
7               u_total_products    0.056231
10               up_max_order_id    0.054799
0                 p_total_orders    0.048392
11           up_max_order_number    0.043404
6   u_avg_days_since_prior_order    0.039818
9                     u_avg_cart    0.035166
17        days_since_prior_order    0.021642
8         u_total_distinct_items    0.019877
16             order_hour_of_day    0.014283
15                     order_dow    0.011923
3                       aisle_id    0.008493
4                  department_id    0.003192

In [101]:
clsGBT = fitGradiantBoostingClassifier(X,y)

Grandiant Boosting :
 Score: 0.997289572245
 ROC AUC: 0.754068356894
 Accuracy: 0.840725429577
 Recall: 0.22290055707
 Feature importance:                          features  importance
10               up_max_order_id    0.123060
13      up_max_add_to_cart_order    0.108933
6   u_avg_days_since_prior_order    0.096258
9                     u_avg_cart    0.078599
2               p_reordered_rate    0.076827
8         u_total_distinct_items    0.070864
7               u_total_products    0.061259
12               up_total_orders    0.050924
0                 p_total_orders    0.049493
1                p_sum_reordered    0.047270
11           up_max_order_number    0.046568
17        days_since_prior_order    0.042338
16             order_hour_of_day    0.039318
3                       aisle_id    0.029388
15                     order_dow    0.028233
5                 u_total_orders    0.022189
14                  order_number    0.021393
4                  department_id    0.007087

In [129]:
df_features_test = buildFeatures(df_ord_test, buildTarget = False, useFullDataset= True)
df_features_test.head()

Total Rows to be processed:75000
Processed: 0
Processed: 10000
Processed: 20000
Processed: 30000
Processed: 40000
Processed: 50000
Processed: 60000
Processed: 70000

,order_id,product_id,user_id,index,p_total_orders,p_sum_reordered,p_reordered_rate,product_name,aisle_id,department_id,...,u_avg_days_since_prior_order,u_total_products,u_all_products,u_total_distinct_items,u_avg_cart,user_product_id,up_max_order_id,up_max_order_number,up_total_orders,up_max_add_to_cart_order
0,2774568,47766,3,47755,176815,134044,0.758103,Organic Avocado,24,4,...,11.487179,33,"{45066, 2573, 18961, 23, 32792, 22559, 13351, ...",102,2.750000,347766,3225766,12,9,34
1,2774568,16797,3,16793,142951,99802,0.698155,Strawberries,24,4,...,11.487179,33,"{45066, 2573, 18961, 23, 32792, 22559, 13351, ...",102,2.750000,316797,3160850,9,3,12
2,1192143,47209,28,47198,213584,170131,0.796553,Organic Hass Avocado,24,4,...,12.296089,106,"{44548, 32263, 45066, 16398, 43352, 44051, 491...",220,4.416667,2847209,2195945,23,1,5
3,1192143,24852,28,24848,472565,398609,0.843501,Banana,24,4,...,12.296089,106,"{44548, 32263, 45066, 16398, 43352, 44051, 491...",220,4.416667,2824852,2760669,24,6,19
4,1192143,21137,28,21133,264683,205845,0.777704,Organic Strawberries,24,4,...,12.296089,106,"{44548, 32263, 45066, 16398, 43352, 44051, 491...",220,4.416667,2821137,2695156,8,1,2

In [130]:
df_features_test = pd.merge(df_features_test, df_ord_test, on=['order_id', 'user_id'])
removeUnwantedColumns(df_features_test)

print "Total Rows (Orders Test):", df_features_test.shape[0]
#print df_features_test.columns.tolist()

X = df_features_test[features]
df_features_test["predicted"] = clsRF.predict(X)
df_features_test.head()

156055
['order_id', 'product_id', 'user_id', 'index', 'p_total_orders', 'p_sum_reordered', 'p_reordered_rate', 'product_name', 'aisle_id', 'department_id', 'u_total_orders', 'u_avg_days_since_prior_order', 'u_total_products', 'u_all_products', 'u_total_distinct_items', 'u_avg_cart', 'user_product_id', 'up_max_order_id', 'up_max_order_number', 'up_total_orders', 'up_max_add_to_cart_order', 'eval_set', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

,order_id,product_id,user_id,index,p_total_orders,p_sum_reordered,p_reordered_rate,product_name,aisle_id,department_id,...,up_max_order_id,up_max_order_number,up_total_orders,up_max_add_to_cart_order,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,predicted
0,2774568,47766,3,47755,176815,134044,0.758103,Organic Avocado,24,4,...,3225766,12,9,34,test,13,5,15,11.0,True
1,2774568,16797,3,16793,142951,99802,0.698155,Strawberries,24,4,...,3160850,9,3,12,test,13,5,15,11.0,False
2,1192143,47209,28,47198,213584,170131,0.796553,Organic Hass Avocado,24,4,...,2195945,23,1,5,test,25,1,16,8.0,False
3,1192143,24852,28,24848,472565,398609,0.843501,Banana,24,4,...,2760669,24,6,19,test,25,1,16,8.0,False
4,1192143,21137,28,21133,264683,205845,0.777704,Organic Strawberries,24,4,...,2695156,8,1,2,test,25,1,16,8.0,False

In [171]:
def convertSetToFlatString(sets):
    s = ""
    for item in sets:
        s += str(item) + " " 
    return s

In [177]:
df = df_features_test[df_features_test.predicted == 1]
#['user_id','order_id', 'product_id', 'predicted']
df = pd.DataFrame(df_features_test.groupby(["user_id", "order_id"]).product_id.apply(set))
df["product_id"] = df["product_id"].apply(convertSetToFlatString)
df.head()

                                product_id
user_id order_id
3       2774568               16797 47766
11      1376945   42736 26209 17794 43352
12      1356845         13176 42736 17794
20      1980631                      9387
22      139655                      35221